<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application>
        <provider android:name="dev.lynx.android.plugins.maps.MapSnapshotProvider" android:authorities="${applicationId}.lynxmaps.files" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/lynx_maps_file_paths" />
        </provider>
    </application>
</manifest>
